@use "src/scss/modules/colors";
@use "src/scss/modules/display";
@use "src/scss/modules/fontsSize";
@use "src/scss/modules/fonts";

//userContainer
.userContainer {
  width: 100%;
  height: 64px;
  background: colors.$white;
  border: 2px solid colors.$dodger-blue;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 0 20px 0 30px;
  @include display.displayFlex($justifyContent: space-between, $alignItems: center);
  margin-right: 15px;
}

.text {
  @include fonts.medium();
  @include fontsSize.textSize16();
  color: colors.$dove-gray;
}

.nameBlock {
  width: 100%;
  max-width: 150px;
}

.statusBlock {
  width: 100%;
  max-width: 290px;
}

.seatsBlock {
  width: 100%;
  max-width: 150px;
}

.addressBlock {
  width: 100%;
  max-width: 300px;
}

.workTimeBlock {
  width: 100%;
  max-width: 200px;
}

.dotsContainer {
  padding: 5px 10px;
  line-height: 0;
}