@mixin btnW275() {
  width: 275px;
  height: 56px;
}

@mixin btnW130() {
  width: 130px;
  height: 56px;
}

@mixin btnW152() {
  width: 152px;
  height: 56px;
}

@mixin btnW139() {
  width: 139px;
  height: 38px;
}

@mixin btnW161() {
  width: 161px;
  height: 38px;
}

@mixin btnW114() {
  width: 114px;
  height: 38px;
}

@mixin btnW111() {
  width: 111px;
  height: 38px;
}

@mixin btnW76() {
  width: 76px;
  height: 28px;
}

@mixin btnW103() {
  width: 103px;
  height: 38px;
}