$zircon: #F8FAFF;
$dodger-blue: #498AFE;
$white-lilac1: #F0F3F9;
$dove-gray: #666666;
$snowy-mint: #DFFFDA;
$de-york: #87C27D;
$fair-pink: #FFE9E9;
$salmon: #FF7A7A;
$seashell: #F1F1F1;
$silver-chalice: #A5A5A5;
$nepal: #89A0B9;
$white-lilac2: #F1F4FA;
$big-stone: #18333E;
$white: #FFFFFF;
$black: #000000;
$gray: #828282;
$deep-cove: #062039;
$loblolly: #C0C7CD;
$hawkes-blue: #D1E1FE;
$silver: #BBBBBB;
$malibu: #9FC0FA;
$tropical-blue: #C7D9FA;
$zumthor: #EBF2FF;