@use "src/scss/modules/colors";
@use "src/scss/modules/display";

@mixin form() {
  width: 427px;
  max-height: 687px;
  @include display.displayFlex($direction: column, $justifyContent: space-between);
  background: colors.$white;
  border: 2px solid colors.$hawkes-blue;
  border-radius: 25px;
  padding: 20px 25px 30px 25px;
}