@use 'src/scss/modules/colors';
@use 'src/scss/modules/fonts';
@use 'src/scss/modules/fontsSize';
@use 'src/scss/modules/display';
@use 'src/scss/modules/sizes';
@use 'src/scss/modules/letterSpacing';

.featurePacked {
  @include display.displayFlex($direction: column, $alignItems: center);
}

.wrapperText {
  max-width: 351px;
  margin-bottom: 40px;
}

.title {
  @include fonts.semiBold();
  @include fontsSize.h2Size32();
  text-align: center;
  letter-spacing: letterSpacing.$letter01;
  color: colors.$black;
  margin-bottom: 10px;
}

.text {
  @include fonts.regular();
  @include fontsSize.textSize16();
  text-align: center;
  letter-spacing: letterSpacing.$letter01;
  color: colors.$dove-gray;
}

.wrapperBooking {
  @include display.displayFlex($direction: column, $alignItems: center);
  margin-bottom: 75px;
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: rgba(102, 102, 102, 0.25);
}

@media all and (min-width: sizes.$TABLE_WIDTH) {
  .title {
    font-size: 36px;
  }

  .wrapperBooking {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media all and (min-width: sizes.$TABLE_WIDTH) {
  .wrapperText {
    max-width: 580px;
  }
}

@media all and (min-width: sizes.$LAPTOP_WIDTH) {
  .line {
    display: none;
  }
}

@media all and (min-width: sizes.$LAPTOP_XL_WIDTH) {
  .wrapperText {
    margin-bottom: 80px;
  }

  .title {
    line-height: 64px;
  }

  .wrapperBooking {
    margin-bottom: 150px;
  }
}