@use "src/scss/modules/colors";
@use "src/scss/modules/sizes";
@use "src/scss/modules/btnsSize";
@use "src/scss/modules/btnStyle";
@use "src/scss/modules/display";

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  @include btnsSize.btnW152();
  @include btnStyle.btn();
}

@media all and (min-width: sizes.$LAPTOP_XL_WIDTH) {
  .link {
    margin: 40px 0 0 0;
  }
}