@use "src/scss/modules/fonts";
@use "src/scss/modules/fontsSize";
@use "src/scss/modules/colors";
@use "src/scss/modules/letterSpacing";

.forgotPassword {
  p {
    @include fonts.regular();
    @include fontsSize.textSize16();
    letter-spacing: letterSpacing.$letter01;
    color: colors.$dove-gray;
  }

  a {
    margin-left: 5px;
    color: colors.$dodger-blue;
  }
}