@use "src/scss/modules/colors";
@use "src/scss/modules/display";
@use "src/scss/modules/fonts";
@use "src/scss/modules/fontsSize";

.wrapOffice {
  width: 100%;
  height: 64px;
  background: colors.$white;
  border: 2px solid colors.$hawkes-blue;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 0 20px 0 30px;
  @include display.displayFlex($alignItems: center);

  &:hover {
    border: 2px solid colors.$malibu;
  }
}

.borderColorItem {
  border-color: colors.$dodger-blue;
}

.nameBlock {
  width: 100%;
  max-width: 150px;
}

.wrapStatusText {
  width: 100%;
  max-width: 130px;
}

.roomBlock {
  width: 100%;
  max-width: 130px;
}

.managerBlock,
.wrapperManager {
  width: 100%;
  max-width: 270px;
}

.addressBlock {
  width: 100%;
  max-width: 300px;
}

.workTimeBlock {
  width: 100%;
  max-width: 177px;
}

.editBtn {
  border: none;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
}

.wrapperManager {
  position: relative;
  cursor: pointer;
}

.nameBlock,
.statusBlock,
.roomBlock,
.managerBlock,
.addressBlock,
.workTimeBlock {
  @include fonts.medium();
  @include fontsSize.textSize16();
}

.nameBlock,
.roomBlock,
.workTimeBlock,
.addressBlock {
  color: colors.$dove-gray;
}

.managerBlock {
  color: colors.$dodger-blue;
}

.wrapBtns {
  position: relative;
}

.editBlock {
  position: absolute;
  width: 88px;
  border-radius: 6px;
  right: -32px;
  top: 44px;
  z-index: 1;

  &::before {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid colors.$dodger-blue;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: -12px;
    width: 0;
  }
}

.WrapBtn {
  @include display.displayFlex($alignItems: center);
  background: colors.$white;

  &:first-child {
    border-radius: 5px 5px 0 0;
    border-right: 1px solid colors.$dodger-blue;
    border-left: 1px solid colors.$dodger-blue;
    border-top: 1px solid colors.$dodger-blue;
  }

  &:last-child {
    border-radius: 0 0 5px 5px;
    border-right: 1px solid colors.$dodger-blue;
    border-left: 1px solid colors.$dodger-blue;
    border-bottom: 1px solid colors.$dodger-blue;
  }
}

.wrapIcon {
  line-height: 0;
  margin: 6px 6px 6px 10px;
}

.editText {
  @include fonts.regular();
  @include fontsSize.textSize14();
}

.show {
  display: block;
}

.hide {
  display: none;
}

.statusClose,
.statusAvailable {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
}

.statusClose {
  color: colors.$silver-chalice;
  background: colors.$seashell;
}

.statusAvailable {
  color: colors.$de-york;
  background: colors.$snowy-mint;
}