@use "src/scss/modules/sizes";

.menuBtn {
  width: 30px;
  height: 21px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: sizes.$LAPTOP_WIDTH) {
  .menuBtn {
    display: none;
  }
}
