@use "src/scss/modules/btnsSize";
@use "src/scss/modules/btnStyle";
@use "src/scss/modules/colors";
@use "src/scss/modules/fonts";
@use "src/scss/modules/fontsSize";
@use "src/scss/modules/sizes";
@use "src/scss/modules/display";
@use "src/scss/modules/letterSpacing";

.red {
  border: 2px solid red;
}

.form {
  @include display.displayFlex($direction: column, $alignItems: center);
}

.wrapInput {
  position: relative;

  &:nth-child(1) {
    margin-bottom: 20px;
  }

  &__icon {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 20px;
  }
}

.input {
  display: block;
  width: 305px;
  height: 55px;
  background: colors.$white;
  border: 2px solid colors.$white-lilac2;
  border-radius: 15px;
  outline: none;
  @include fonts.regular();
  @include fontsSize.textSize16();
  letter-spacing: letterSpacing.$letter01;
  color: colors.$dove-gray;
  padding-left: 60px;

  &:focus {
    border: 2px solid colors.$dodger-blue;
  }
}

.btn {
  display: block;
  margin-top: 40px;
  @include btnsSize.btnW152();
  @include btnStyle.btn();
}

@media all and (min-width: sizes.$LAPTOP_XL_WIDTH) {
  .form {
    align-items: start;
  }
}